.form__date{
    // width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 56px;
    border-radius: 10px;
}
.form__custom{
    height: 56px;
    align-items: center;
    display: flex;
}